/*  #Grid
===================================================================================== */

  /*  #Container & Row
===================================================================================== */
.container {
  position:relative;
  width:92%;
  margin-left:4%;
  margin-right:4%;
}

.row {
  width: 100%;
  margin-bottom: 1%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

  /*  #Columns
===================================================================================== */

.g1,
.g2,
.g3,
.g4,
.g5,
.g6,
.g7,
.g8,
.g9,
.g10,
.g11,
.g12 {
  position:relative;
  margin:0 1% 1% 1%;
}

  /*  #Columns - Grid
===================================================================================== */

.container .g1 {
  width:6.33%;
}

.container .g2 {
  width:14.67%;
}

.container .g3 {
  width:23.0%;
}

.container .g4 {
  width:31.333%;
}

.container .g5 {
  width:39.667%;
}

.container .g6 {
  width:48.0%;
}

.container .g7 {
  width:56.333%;
}

.container .g8 {
  width:64.667%;
}

.container .g9 {
  width:73.0%;
}

.container .g10 {
  width:81.333%;
}

.container .g11 {
  width:89.667%;
}

.container .g12 {
  width:98.0%;
}

  /* #MOBILE
===================================================================================== */

@media only screen and (max-width:640px) {

  .container .g1,
  .container .g2,
  .container .g3,
  .container .g4,
  .container .g5,
  .container .g6,
  .container .g7,
  .container .g8,
  .container .g9,
  .container .g10,
  .container .g11,
  .container .g12 {
    width:100%;
  }

}
