html {
    font-size: 62.5%;
}

body {
    position:relative;
    overflow-x:hidden; 
    background: $light;
    font-size: 1.5em; // currently ems cause chrome bug misinterpreting rems on body element
    line-height: 1.6;
    font-weight: 400;
    font-family: $body-font-family;
    color: $font-color;
}

// Section Styles
//--------------------------------------------------

.section-title{
    letter-spacing: .5px;
}

.more-button{
    max-width: 90px;
    font-weight: 700;
    color:$light;
    background: none;
    border:none;
    position:absolute;
    top:88vh;
    left:38vw;
}

@media (#{$bp-larger-than-desktop}){
    .section-info{
        padding:5% 30%;
    }
    .more-button{
        left:48%;
    }
}



// Header Styles
//--------------------------------------------------

header{
    background: url(../images/sm/creative-sm.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    width:100vw;
    position:relative;
    color:$light;
    text-shadow: 0 0 2px #323232;
    & h1{
        padding:20% 0;
        text-align: center;
        border-top:2px solid $border-color;
    }
    & h4{
        padding: 5%;
        text-align: justify;
    }
}

.header-button{
    width:300px;
    padding:2% 3%;
    background: $primary-color;
    border: 1px solid $border-color;
    color:$border-color;
    &:first-child{
        margin: 2% 8%;
    }
}
@media (#{$bp-larger-than-desktop}) {
    header{
        background: url(../images/lg/creative-lg.jpg) no-repeat;
        background-size: cover;
        & h1 {
            padding:5% 0;
        }
        & h4 {
            text-align: center;   
        }
        .header-button{
            width:100%;
        }
    }
    
    
}

// Dedication Styles
//--------------------------------------------------
.dedication{
    background: url(../images/sm/vision-sm.jpg) no-repeat;
    background-size: cover;
    height:100vh;
    width:100vw;
    color:$dark;
    position: relative;
    & h1{
        padding:20% 0 10% 0;
        text-align: center;
    }
    & h5{
        padding: 0 5%;
        text-align: justify;
    }
}

@media (#{$bp-larger-than-desktop}) {
    .dedication{
        background: url(../images/lg/vision-lg.jpg) no-repeat;
        background-size: cover;
    }
}


// Passion Styles
//--------------------------------------------------

.passion{
    background: url(../images/sm/passion-sm.jpg) no-repeat;
    background-size: cover;
    height:100vh;
    width:100vw;
    position: relative;
    color:$light;
    & h5{
        color:$light;
        padding:20% 10%;
        text-align: justify;
        text-shadow: 2px 2px 2px #000;
    }
    
}

.passion-quote{
    margin: 0 auto;
    width:50%;
    padding: 10% 0;
    & h1{
        margin:0;
        color:$link-color;
        text-shadow: 1px 0 3px #121212;
        text-align: center;
        border-top: 2px solid $border-color;
        border-bottom: 2px solid $border-color; 
    }
    & h5{
        padding: 0;
        margin:0;
        text-align: center;
    }
}
@media (#{$bp-larger-than-desktop}) {
    .passion{
        background: url(../images/lg/passion-lg.jpg) no-repeat;
        background-size: cover;
    }
}

// Projects Styles
//--------------------------------------------------
.projects{
    padding:5% 0;
    color:$dark;
    position:relative;
    & img{
        width:100%;
    }
    & h4{
        padding:2% 0;
        text-align: center;
        border-top: 1px solid $dark;
        border-bottom: 1px solid $dark;
    }
}

.project{
    padding:2% 0;
}

.project-tech{
    color:$primary-color;
    text-align: justify;
}

.project-description{
    padding:5% 0;
    text-align: justify;
}
.project-links{
    padding: 0 auto;
    & a{
        padding:0 18%;
    }
}



// Contact Styles
//--------------------------------------------------
.contact{
    padding:10% 0;
    background: $dark;
    color:$light;
    & h3{
        text-align: center;
    }
    & i{
        position:relative;
        padding:2% 10%;
    }
}

// Footer Styles
//--------------------------------------------------
footer{
    height:100%;
    padding:2%;
    background: $light;
    color:$dark;
}

// Links
//––––––––––––––––––––––––––––––––––––––––––––––––––
a {
    color: $link-color;
    text-decoration: none;
    &:hover {
        color: darken($link-color, 5%);
    }
}
.inline-link{
    padding: 0 10px;
    border-bottom:1px dotted $link-color;
    color:$light;
    transition: all 200ms ease-in-out;
    &:hover{
        background: lighten(#2c3e50, 20%);
        color:$light;
    }
}
@media (#{$bp-larger-than-desktop}) {
    .inline-link{
        background: none;
        border-bottom:2px solid $link-color;
        &:hover{
            background: $link-color;
        }
    }
}

// Misc
//––––––––––––––––––––––––––––––––––––––––––––––––––

hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid $dark;
}