html {
    font-size: 62.5%;
}

body {
    background: $light;
    font-size: 1.5em; // currently ems cause chrome bug misinterpreting rems on body element
    line-height: 1.6;
    font-weight: 400;
    font-family: $body-font-family;
    color: $font-color;
}


// Header Styles
//------------------------------------------------

header {
    position: relative;
    background: url(../images/bg-sm.jpg) no-repeat;
    background-size: cover;
    color:$light;
    height: 100vh;
    width: 100%;
    text-align: center;
}

@media (#{$bp-larger-than-desktop}){
    header{
        background: url(../images/bg-lg.jpg) no-repeat;
        background-size: cover;
    }
}

nav{
    position: absolute;
    top:5%;
    right:-45%;
}
.menu-list{
    display: block;
    width:100vw;
    transform: translateX(120vw);
    background: $dark;
}
.menu-open{
    transform: translateX(-40vw);
    z-index:100 !important;
}

.logo {
    padding: 5% 0;
}

.headerTitle {
    font-family: $header-font-family;
    margin:0;
}

.headerTitle h1 {
    padding-bottom: 5%;
    border-right: none;
    border-bottom: 5px solid $light;
}

.headerTitle h4 {
    
    text-align: justify;
    padding:0;
}

.typeform-button {
    background: none;
    font-variant: caps;
    font-size: 1.25em;
    padding: 1% 20%;
    border: 2px solid $border-color;
    color: $light;
}

@media (#{$bp-larger-than-desktop}){
    .headerTitle h1{
        padding:10% 0;
        border-right: 2px solid $border-color;
        border-bottom: none;
    }
    .headerTitle h4{
        padding: 0;
    }
    .typeform-button:hover {
    background: $link-color;
    color: $light;
}
}

//Section Styles
//--------------------------------------------------

section{
    padding-top:10%;
}
.section-title{
    padding-bottom: 2%;
    border-bottom: solid 2px $font-color;
}

@media (#{$bp-larger-than-desktop}){
    section{
        padding-top: 2%;
    }
}

//Skills Styles
//--------------------------------------------------

#services{
    background: $dark;
    color: $light;
    text-align: center;
}

.process-container{
    padding: 10% 0;
    margin: 5% 0;
    min-height:365px;
    background: lighten($dark, 3%);
    text-align: center;
    &:hover{
        background:$link-color;
        color:#bdc3c7;
    }
    & button{
    background:none;
    color:$light;
    border:none;
    margin-top:10%;
}
}

.title-content{
    padding: 10% 0;
}

.title-content h3{
    padding-top:10%;
}

.body-content{
    color:$light;
    padding:10% 5%;
}

.content-hidden{
    display: none;
}

.fa-sitemap,
.fa-rocket{
    color:#2ecc71;
    text-shadow: 0 0 5px $dark;
}

.fa-pencil-square-o,
.fa-wrench{
    color:#2980b9;
    text-shadow: 0 0 5px $dark;
}

.fa-code,
.fa-users{
    color:#16a085;
    text-shadow: 0 0 5px $dark;
}

//About Styles
//--------------------------------------------------
#about{
    text-align: justify;
}
#about img{
    width: 100%;
}

//Project Styles
//--------------------------------------------------


#projects{
    background: #bdc3c7;
}
.project-link{
    color:$font-color;
}
.project-link img{
    padding-bottom:10%;
     width: 100%;
}

.project-link h3,
.project-link h5{
    text-align: center;
}

.project-container{
    padding: 15% 0;
}

.project-tech{
    color: $primary-color;
}

// Links
//––––––––––––––––––––––––––––––––––––––––––––––––––
a {
    color: $link-color;
    text-decoration: none;
    &:hover {
        color: darken($link-color, 5%);
    }
}
.inline-link{
    padding: 0 10px;
    background: #2c3e50;
    color:$light;
    &:hover{
        background: #34495e;
        color:$light;
    }
}

// Misc
//––––––––––––––––––––––––––––––––––––––––––––––––––

hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid $light;
}