// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

// Colors
$light: #ecf0f1 !default;
$dark: #7f8c8d !default;
$primary-color: #2980b9 !default;
$secondary-color: lighten($primary-color, 13.5%) !default;
$border-color: #ecf0f1 !default;
$link-color: #e74c3c !default;
$font-color: #7f8c8d !default;

// Typography
$header-font-family: "Oswald", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

//Grid Variables
$container-width: 80% !default;
$container-width-larger-than-mobile: 90% !default;
$container-width-larger-than-phablet: 80% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 4% !default; // space between columns

// Misc
$global-radius: 4px !default;
